// body {
//     background: url("https://cc-portfolio-cruzc-bucket.s3.ap-southeast-1.amazonaws.com/images/home_background.png") no-repeat center fixed;
//     background-size: cover;
//     width: 100%;
//     height: 100%;
// }

.home-container {
    background: url("https://cc-portfolio-cruzc-bucket.s3.ap-southeast-1.amazonaws.com/images/home_background.png") no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 15%;
}

.home-left-container {
    margin-top: 25%;
}

@media (max-width: 992px) {
    .home-left-container {
        margin-top: 50px;
    }
}

.home-left-container h1{
    font-size: 60px;
}

.home-left-container p{
    font-size: 20px;
}

.image-cropper-home {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 15%;
}


.image-cropper-about {
    width: 365px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-top: 10%;
    margin-left: 15%;
}

.about-picture {
    display: inline;
    margin: 0 auto;
    margin-left: -215%; //centers the image
}

@media (max-width: 992px) {
    .image-cropper-about {
        width: 100%;
        height: auto;
        margin-top: 5%;
        margin-left: 2%;
    }

    .about-picture {
        margin: 0 auto;
        margin-left: -70%; //centers the image
    }
}

@media (max-width: 778px) {
    .about-picture {
        margin-left: -130%; //centers the image
    }
}

@media (max-width: 558px) {
    .about-picture {
        margin-left: -160%; //centers the image
    }
}

.certificate-image, .portfolio-image {
    width: 100%;
}

.pill-tabs:hover {
    cursor: pointer;
}